*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Segoe UI', sans-serif;
}

body{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:linear-gradient(135deg,#4facfe,#00f2fe);
    flex-direction: column;
}

body.dark{
    background:linear-gradient(135deg,#141e30,#243b55);
    color:white;
}

.card{
    width:90%;
    max-width:500px;
    padding:35px;
    border-radius:20px;
    background:rgba(255,255,255,0.2);
    backdrop-filter:blur(15px);
    box-shadow:0 8px 32px rgba(0,0,0,0.2);
    text-align:center;
}

body.dark .card{
    background:rgba(255,255,255,0.08);
}

#themeToggle {
  margin-bottom: 10px;
}

.input-box{
    display:flex;
    flex-direction:column;
    gap:15px;
}

input,button{
    padding:12px;
    border-radius:8px;
    border:none;
    font-size:16px;
}

input{
    border:1px solid #ddd;
}

button{
    background:#4facfe;
    color:white;
    font-weight:bold;
    cursor:pointer;
    transition:.3s;
}

button:hover{
    transform:scale(1.05);
}

.hidden{
    display:none;
}

.progress-container{
    width:100%;
    height:18px;
    background:#e0e0e0;
    border-radius:20px;
    overflow:hidden;
    margin-top:10px;
}

.progress-bar{
    height:100%;
    width:0%;
    background:linear-gradient(90deg,#00c6ff,#0072ff);
    transition:width 1s ease;
}
